[KGameTheme]
VersionFormat=1
Name=Lava-Island
Name[ast]=La islla de la llava
Name[bs]=Lava-otok
Name[ca]=Illa de Lava
Name[ca@valencia]=Illa de Lava
Name[cs]=Lávový ostrov
Name[da]=Lava-Island
Name[de]=Lava-Insel
Name[el]=Νησί λάβας
Name[en_GB]=Lava-Island
Name[es]=Lava-Island
Name[et]=Laavasaar
Name[eu]=Laba uhartea
Name[fr]=Île de lave
Name[ga]=Lava-Island
Name[gl]=Illa de lava
Name[hr]=Lava-Island
Name[hu]=Lávasziget
Name[it]=Isola delle lave
Name[kk]=Лава-аралы
Name[km]=កោះ​ឡាវ៉ា
Name[lt]=Lavos sala
Name[lv]=Lavas sala
Name[ms]=Pulau Lava
Name[nb]=Lava-Island
Name[nds]=Lava-Eiland
Name[nl]=Lava-eiland
Name[nn]=Lava-øya
Name[pl]=Lawa i wyspa
Name[pt]=Ilha de Lava
Name[pt_BR]=Ilha de Lava
Name[ro]=Insula de lavă
Name[ru]=Остров лавы
Name[sk]=Lávový ostrov
Name[sl]=Otok lave
Name[sq]=Lava-Island
Name[sr]=Острво с лавом
Name[sr@ijekavian]=Острво с лавом
Name[sr@ijekavianlatin]=Ostrvo s lavom
Name[sr@latin]=Ostrvo s lavom
Name[sv]=Lavaö
Name[tr]=Lava-Adası
Name[uk]=Лавовий острів
Name[x-test]=xxLava-Islandxx
Name[zh_CN]=火山岛
Name[zh_TW]=火山島
Description=Stop the lava and save the day
Description[ast]=Detén la llava y salva'l día
Description[bs]=Zaustavi lavu i spasi dan
Description[ca]=Atura la lava i salva el dia
Description[ca@valencia]=Atura la lava i salva el dia
Description[cs]=Zastavte lávu a zachraňte den
Description[da]=Stop lavaen og red dagen
Description[de]=Die Lava aufhalten und den Tag retten.
Description[el]=Σταματήστε τη λάβα και σώστε τον κόσμο
Description[en_GB]=Stop the lava and save the day
Description[es]=Detenga la lava y salve el día
Description[et]=Peata laava ja tunne end päästjana
Description[eu]=Gelditu laba eta berreskuratu egoera
Description[fr]=Arrêtez la lave et protégez cette journée
Description[ga]=Stad an laibhe agus sábháil an lá
Description[gl]=Detén a lava e sálvate
Description[hu]=El kell zárni a láva útját
Description[it]=Blocca la lava per salvare tutto
Description[kk]=Лаваны тоқтатып бәрін құтқару
Description[km]=បញ្ឈប់​ឡាវ៉ា និង​រក្សាទុក​ថ្ងៃ
Description[lt]=Sustabdykite lavą ir išgelbėkite dieną
Description[lv]=Apturi lavu un izglāb pasauli
Description[ms]=Hentikan lava dan jadi penyelamat
Description[nb]=Stopp lavaen og bli dagens helt
Description[nds]=Holl de Lava an un wees de Held
Description[nl]=Stop de lava en red de dag
Description[nn]=Stopp lavaen og redd verda
Description[pl]=Zatrzymaj lawę i wygraj
Description[pt]=Pare a lava e seja o salvador do dia
Description[pt_BR]=Interrompa o fluxo da lava e seja um herói
Description[ro]=Opriți lava și salvați clipa
Description[ru]=Остановите лаву и спаситесь
Description[sk]=Zastavte lávu a zachráňte sa
Description[sl]=Ustavite lavo in rešite dan
Description[sq]=Ndaloni llavën dhe shpëtoni njerëzit
Description[sr]=Зауставите лаву и сачувајте главу
Description[sr@ijekavian]=Зауставите лаву и сачувајте главу
Description[sr@ijekavianlatin]=Zaustavite lavu i sačuvajte glavu
Description[sr@latin]=Zaustavite lavu i sačuvajte glavu
Description[sv]=Stoppa lavan och rädda dagen
Description[tr]=Lavayı durdurup günü kurtarın
Description[uk]=Зупиніть лаву і врятуйте всіх
Description[x-test]=xxStop the lava and save the dayxx
Description[zh_CN]=阻止火山爆发，渡过危机
Description[zh_TW]=阻止岩漿，拯救世界
FileName=Lava-Island.svgz
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Preview=lava-Island.png
