[KGameTheme]
VersionFormat=1
Name=KBomber - Star Wars
Name[ast]=KBomber - Guerra de les galaxes
Name[bs]=KBombarder - Ratovi zvjezda
Name[ca]=KBomber - Guerra de les galàxies
Name[ca@valencia]=KBomber - Guerra de les galàxies
Name[cs]=KBomber - Hvězdné války
Name[da]=KBomber - Star Wars
Name[de]=Krieg der Sterne
Name[el]=KBomber - Star Wars
Name[en_GB]=KBomber - Star Wars
Name[es]=KBomber - La guerra de las galaxias
Name[et]=KBomber - Tähesõjad
Name[eu]=KBomber - Star Wars
Name[fr]=KBomber - Star Wars
Name[ga]=KBomber - Star Wars
Name[gl]=KBomber ─ A guerra das galaxias
Name[hne]=के-बम्बर - स्टार वार्स
Name[hr]=KBomber – Star Wars
Name[hu]=KBomber - Csillagháború
Name[it]=KBomber - Guerre stellari
Name[ja]=KBomber - スターウォーズ
Name[kk]=KBomber - жұлдыз соғыстары
Name[km]=KBomber - សង្គ្រាម​ពិភព​ផ្កាយ
Name[lt]=KBomber – Žvaigždžių karai
Name[lv]=KBomber - zvaigžņu kari
Name[ms]=KBomber - Perang Angkasa
Name[nb]=KBomber – Star Wars
Name[nds]=KBomber - Star Wars
Name[nl]=KBomber - Star Wars
Name[nn]=KBomber – Star Wars
Name[pl]=KBomber - Gwiezdne wojny
Name[pt]=KBomber - Guerra das Estrelas
Name[pt_BR]=KBomber - Guerra nas Estrelas
Name[ro]=KBombardier - Războiul stelelor
Name[ru]=KBomber - Звёздные войны
Name[sk]=KBomber - Hviezdne vojny
Name[sl]=KBomber - Vojna zvezd
Name[sq]=KBomber - Luftërat e Yjeve
Name[sr]=К‑бомбардер — Ратови звезда
Name[sr@ijekavian]=К‑бомбардер — Ратови звијезда
Name[sr@ijekavianlatin]=K‑bombarder — Ratovi zvijezda
Name[sr@latin]=K‑bombarder — Ratovi zvezda
Name[sv]=Kbomber - stjärnornas krig
Name[tr]=KBomber - Yıldız Savaşları
Name[uk]=KBomber — Зоряні війни
Name[x-test]=xxKBomber - Star Warsxx
Name[zh_CN]=KBomber - 星际战争
Name[zh_TW]=KBomber ─ 星際大戰
FileName=kbomber.svgz
Author=Eugene Trounev [it-s]
AuthorEmail=eugene.trounev@gmail.com
Preview=kbomber.png
