[Desktop Entry]
Name=Bomber
Name[ast]=Bomber
Name[bs]=Bombarder
Name[ca]=Bomber
Name[ca@valencia]=Bomber
Name[cs]=Bomber
Name[da]=Bomber
Name[de]=Bomber
Name[el]=Bomber
Name[en_GB]=Bomber
Name[eo]=Bomber
Name[es]=Bomber
Name[et]=Bomber
Name[eu]=Bonba jartzailea
Name[fr]=Bomber
Name[ga]=Bomber
Name[gl]=Bomber
Name[hne]=बम्बर
Name[hr]=Bomber
Name[hu]=Bombázó
Name[it]=Bombardiere
Name[ja]=Bomber
Name[kk]=Бомбылаушы
Name[km]=យន្តហោះ​ទម្លាក់​គ្រាប់​បែក
Name[lv]=Bomber
Name[ms]=Pengebom
Name[nb]=Bomber
Name[nds]=Bomber
Name[nl]=Bomber
Name[nn]=Bombar
Name[pl]=Bomber
Name[pt]=Bomber
Name[pt_BR]=Bomber
Name[ro]=Bombardier
Name[ru]=Bomber
Name[sk]=Bomber
Name[sl]=Bomber
Name[sq]=Bomber
Name[sr]=Бомбардер
Name[sr@ijekavian]=Бомбардер
Name[sr@ijekavianlatin]=Bombarder
Name[sr@latin]=Bombarder
Name[sv]=Bomber
Name[tr]=Bombacı
Name[ug]=بومبىچى
Name[uk]=Бомбардувальник
Name[wa]=Bomber
Name[x-test]=xxBomberxx
Name[zh_CN]=投弹者
Name[zh_TW]=戰鬥機
Exec=bomber -caption "%c"
Icon=bomber
Type=Application
Terminal=false
GenericName=Arcade Bombing Game
GenericName[ast]=Xuegu de bombardéu Arcade
GenericName[bs]=Bombaški napad arkada igra
GenericName[ca]=Joc arcade de bombardeig
GenericName[ca@valencia]=Joc arcade de bombardeig
GenericName[cs]=Arkádová bombardovací hra
GenericName[da]=Arkade-bombespil
GenericName[de]=Fliegerbomben-Spiel
GenericName[el]=Παιχνίδι βομβαρδισμού Arcade
GenericName[en_GB]=Arcade Bombing Game
GenericName[es]=Juego recreativo de bombas
GenericName[et]=Seikluslik pommitamismäng
GenericName[fr]=Jeu d'arcade de bombardement
GenericName[ga]=Cluiche Stuara Buamála
GenericName[gl]=Xogo arcade de bombardeo
GenericName[hr]=Arkadna igra bombardiranja
GenericName[hu]=Ügyességi bombázós játék
GenericName[is]=Spilakassa-sprengjuleikur
GenericName[it]=Gioco arcade di bombardamento
GenericName[ja]=爆弾投下アーケードゲーム
GenericName[kk]=Бомбылау аркад ойыны
GenericName[km]=ល្បែង​ទម្លាក់គ្រាប់បែក​ Arcade
GenericName[lt]=Arkadinis žaidimas
GenericName[lv]=Spridzināšanas spēle
GenericName[ms]=Permainan Arked Pengebom
GenericName[nb]=Bomber arkadespill
GenericName[nds]=Speelhall-Bombenspeel
GenericName[nl]=Arcade-bommenwerpspel
GenericName[nn]=Bombespel
GenericName[pl]=Gra w upuszczanie bomb
GenericName[pt]=Jogo de Bombardeamento para Arcadas
GenericName[pt_BR]=Jogo de bombardeiro tipo arcade
GenericName[ro]=Joc de aventuri cu bombardamente
GenericName[ru]=Аркадный бомбометатель
GenericName[sk]=Arkádová bombardovacia hra
GenericName[sl]=Arkadna igra bombardiranja
GenericName[sr]=Аркадна игра бомбардовања
GenericName[sr@ijekavian]=Аркадна игра бомбардовања
GenericName[sr@ijekavianlatin]=Arkadna igra bombardovanja
GenericName[sr@latin]=Arkadna igra bombardovanja
GenericName[sv]=Bombspel
GenericName[tr]=Bombalama Macera Oyunu
GenericName[uk]=Аркадна гра у бомбардування
GenericName[wa]=Djeu årcåde di låtchaedje di bombes
GenericName[x-test]=xxArcade Bombing Gamexx
GenericName[zh_CN]=街机上的投弹游戏
GenericName[zh_TW]=大型遊戲機的戰鬥機遊戲
Categories=Qt;KDE;Game;ArcadeGame;
X-DocPath=bomber/index.html
X-DBUS-StartupType=Multi
